$primary-color: #3f4a59;
$primary-color-2: #2b323d;
$primary-color-3: #171b20;
$primary-color-text: #ffffff;
$primary-color-text-2: #dddddd;

$accent-color: #26a2d6;
$accent-color-transparent: #26a1d688;
$accent-color-text: #ffffff;
$accent-color-text-2: #f5f5f5;

$separator-color-1: #171b208a;
